:root {
  --color-white: #ffffff;
  --color-gray-dark: #3c3e44;
  --color-dark: #24282f;
  --color-black: #202329;
  --color-main: #75df23;
  /* --color-main: #02b1c8; */
}
h1 {
  font-size: calc(7.5vw + 0.5rem);
  color: var(--color-dark);
  text-overflow: ellipsis;
  overflow: hidden;
}
h2 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 3rem;
  &:before {
    content: "";
    background-color: var(--color-white);
    width: 40px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: var(--color-main);
  }
}
@media (max-width: 620px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

p {
  font-size: 1.1rem;
}
.floatUp {
  animation: floatUp 4s ease-in-out infinite;
}
.floatDown {
  animation: floatDown 4s ease-in-out infinite;
}
@keyframes floatUp {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatDown {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(+20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.btn {
  background-color: var(--color-main);
  padding: 0.8rem 4rem;
  display: block;
  outline-style: none;
  color: var(--color-white);
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-bottom: 5px solid #439107;
  &:hover {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.48);
  }
  &:active {
    box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #a2e96c;
    border-bottom:1px solid #439107;
    transition: all 0.1s ease 0s;    
  }

}

.gray {
  opacity: 0.5;
}
.color-main {
  color: var(--color-main)
}
input[type=text] {
  padding: 1rem;
  width: 50%;
  background-color: rgba($color: white, $alpha: 0.5);
  font-size: 1.1rem;
  border: 3px solid var(--color-dark);
  @media (max-width: 620px)  {
    width: 100%;
  }

}
.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 980px) {
    width: 70%;
  }
  @media (max-width: 620px) {
    width: 80%;
  }
}
input {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-gray-dark);
  width: 60%;
  color: var(--color-gray-dark);
}
input:focus {
  outline: none;
}
